# .gitignore - Tell Git what NOT to track

# Environment files (your secrets)
.env
.env.local
settings.env

venv/
ENV/
.envrc

# Database files
/db/
*.db
.sqlite3

# Django cache / runtime files
*.log
*.pot
*.mo
staticfiles/
media/

# Python cache files
__pycache__/
*.pyc
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg

# IDE files
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

*.sh
!docker/start.sh

.continue/
imports/
