{% extends "syncope/base.html" %}

{% block title %}{{ event.name|default:event.event_type }} - Syncope{% endblock %}

{% block content %}
<div class="section-header">
    <h1 class="event-title">
        <span class="event-title-text">
            <span title="{% if event.name %}Title{% else %}Type{% endif %}">{{ event.name|default:event.event_type }}</span>
            <small><span title="Action"> | Delete</span></small>
        </span>
    </h1>
</div>

<p>Are you sure you want to delete <strong>{{ event.name|default:event.event_type }}</strong>?</p>

{% if is_admin %}
<form method="post">
    {% csrf_token %}
    <div class="form-actions">
        <button type="submit" class="btn btn-danger">Delete Event</button>
    </div>
</form>
{% endif %}

{% url 'syncope:event_detail' url_username event.pk as return_target %}
{% include "syncope/_save_bar.html" with url=return_target %}

{% endblock %}
