{% extends "syncope/base.html" %}

{% block title %}Events{% endblock %}

{% block content %}
{% if membership and ADMIN_ROLE in membership.person.roles.all %}
<p><a href="{%  url 'syncope:event_create' url_username %}">
    +</a></p>
{% endif %}
<h2>Events</h2>
<table>
    <tr>
        <th>#</th>
        <th>Date</th>
        <th>Type</th>
        <th>Project</th>
        <th></th>
    </tr>
    {% for event in events %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td> <a href="{%  url 'syncope:event_detail' url_username event.id %}">
                {{ event.started_at }}
                </a>
            </td>
            <td>{{ event.event_type }}</td>
            <td>{% if event.project %}<a href="{%  url 'syncope:project_detail' url_username event.project.id %}">{{ event.project }}</a>{% else %}—{% endif %}</td>
            <td>
              {% if event.resource_count > 0 %}
                <span title="Event resources">
                  {% if event.resource_count > 0 %}
                    🔗
                  {% endif %}
                  {{ event.resource_count }}
                </span>
              {% endif %}
              {% if event.event_song_resource_count > 0 %}
                <span title="Song resources">
                  {% if event.event_song_resource_count > 0 %}
                    🎵
                  {% endif %}
                  {{ event.event_song_resource_count }}
                </span>
              {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endblock %}