{% extends "syncope/base.html" %}
{% block title %}{{ event.name }}{% endblock %}

{% block content %}

<h2>{{ event.name }}</h2>
<p>Location: {{ event.location }}</p>
<p>Starts: {{ event.started_at }}</p>
<p>Ends: {{ event.ended_at }}</p>

{% if event.project %}
<p>Project: <a href="{%  url 'syncope:project_detail' url_username event.project.pk %}">{{ event.project.title }}</a></p>
{% if event.project.description %}
    <p>{{ event.project.description }}</p>
{% endif %}
{% endif %}


{% if is_admin %}
    <p><a href="{%  url 'syncope:event_update' url_username event.pk %}">Edit event</a></p>
{% endif %}

<h3>Songs</h3>
{% if eventsongs %}
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Song</th>
                <th>Encore</th>
            </tr>
        </thead>
        <tbody>
            {% for eventsong in eventsongs %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    {% if eventsong.resource_icons %}
                        <span title="Song has its own resources available">{{ eventsong.resource_icons.0.icon }}</span>
                    {% endif %}
                    <a href="{%  url 'syncope:song_page' url_username eventsong.song.pk %}">{{ eventsong.song.title }}</a> -
                    <span title="{{ eventsong.song.composer.first_name }} {{ eventsong.song.composer.last_name }} {{ eventsong.song.composer.birth_date|date:'Y' }}-{{ eventsong.song.composer.death_date|date:'Y' }}">
                        {{ eventsong.song.composer.first_name }} {{ eventsong.song.composer.last_name }} </span>

                    {% if eventsong.song.keywords %}
                        <br><small>{{ eventsong.song.keywords }}</small>
                    {% endif %}
                </td>
                <td>{% if eventsong.encore %}Yes{% endif %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No songs added yet.</p>
{% endif %}

<h3>Attendance</h3>
{% if attendances %}
    <table>
        <thead>
            <tr>
                <th></th>
                <th>Person</th>

                <th>Attendance</th>
            </tr>
        </thead>
        <tbody>
        {% for attendance in attendances %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ attendance.person.first_name }} {{ attendance.person.last_name }}</td>
                {% comment %}
                <td>

                    {% for singer in attendance.person.singer_set.all %}
                        {{ singer.voice.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                    {% for inst in attendance.person.instrumentalist_set.all %}
                        {{ inst.instrument.name }}{% if not forloop.last %}, {% endif %}
                    {% endfor %}

                </td>
                {% endcomment %}
                <td>{{ attendance.attendance_type }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% else %}
    <p>No attendance records yet.</p>
{% endif %}
{% if all_event_resources %}
<h3>Event Resources</h3>
<table>
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Resource</th>
            <th></th>
            <th>Song</th>
        </tr>
    </thead>
    <tbody>
        {% for res in all_event_resources %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ res.icon }}</td>
            <td><a href="{{ res.url }}">{{ res.url }}</a></td>
            <td>{{ res.desc }}</td>
            <td>
                {% if res.song %}
                    <a href="{% url 'syncope:song_page' url_username res.song.pk %}">{{ res.song.title }} - {{ res.song.composer.first_name }} {{ res.song.composer.last_name }}</a>
                {% else %}
                -
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endif %}
{% endblock %}
