{% extends "syncope/base.html" %}

{% block title %}New Event - Syncope{% endblock %}

{% block content %}
<div class="section-header">
    <h1 class="event-title">
        <span class="event-title-text">
            <span title="Page">Events</span>
            <small><span title="Action"> | New</span></small>
        </span>
    </h1>
</div>
<form method="post">
    {% csrf_token %}
    <input type="hidden" name="draft_key" value="{{ draft_key }}">
    {% if request.GET.next %}<input type="hidden" name="next" value="{{ request.GET.next }}">{% endif %}
    {{ form.as_p }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
{% endblock %}