{% extends "syncope/base.html" %}

{% block title %}Delete Event{% endblock %}

{% block content %}
<h1>Delete Event?</h1>

<p>Are you sure you want to delete <strong>{{ event.name }}</strong>?</p>

{% if is_admin %}
<form method="post">
    {% csrf_token %}
    <div class="form-actions">
        <button type="submit" class="btn btn-danger">Delete Event</button>
    </div>
</form>
{% endif %}

{% url 'syncope:event_detail' url_username event.pk as return_target %}
{% include "syncope/_save_bar.html" with url=return_target %}

{% endblock %}
