{% extends "syncope/base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
  <p>Welcome, {{ user.username }} at the email of: {{ user.email }}!</p>

  {% with person=user.persons.first %}
  {% if person %}
    <p>{{ person.first_name }} {{ person.last_name }}</p>
<p><a href="{%  url 'syncope:org_new' %}">Create organization</a></p>
{% if org_memberships %}

<p>Your memberships:</p>
        <ul>
          {% for membership in org_memberships %}

            <li>
            {{ membership.user.username }}
            ({{ membership.person.roles.all|join:", " }})
            </li>
          {% endfor %}
        </ul>

{% else %}
  <p>You are not member of any organization.</p>
{% endif %}

  {% else %}
    <a href="{%  url 'syncope:person_update' url_username %}">
      Please complete your profile
    </a>
  {% endif %}
{% endwith %}
{% endblock %}