{% extends "syncope/base.html" %}
{% block title %}New Invitation{% endblock %}

{% block content %}
<h2>New Invitation</h2>

{% if is_org %}
<form method="post" class="inline-form">
    {% csrf_token %}
    <input type="hidden" name="draft_key" value="{{ draft_key }}">
    <button type="submit"
            class="btn btn-sm btn-secondary"
            formaction="{% url 'syncope:save_draft_and_go' %}?goto={% url 'syncope:org_member_new' url_username %}&next={{ request.get_full_path|urlencode }}"
            title="Create new person">New</button>
</form>
{% endif %}

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="draft_key" value="{{ draft_key }}">
    {{ form.as_p }}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary">Send</button>
    </div>
</form>
{% endblock %}
