{% extends "syncope/base.html" %}

{% block title %}{{ organization.name }}{% endblock %}

{% block content %}
Welcome, {{ user.username }}

<p>Name: {{ organization.name }}</p>
<p>Email: {{ organization.email }}</p>
<p>Address: {{ organization.address }}</p>

<hr>

<h3>Quick Links</h3>
<ul>
    <li><a href="{%  url 'syncope:project_list' url_username %}">Projects</a></li>
    <li><a href="{%  url 'syncope:event_list' url_username %}">Events</a></li>
    <li><a href="{%  url 'syncope:song_list' url_username %}">Songs</a></li>
    <li><a href="{%  url 'syncope:org_member_list' url_username %}">Members</a></li>
</ul>

{% endblock %}