{% extends "syncope/base.html" %}
{% block title %}{% if form.instance.pk %}Update{% else %}New Person{% endif %} {{ form.instance.first_name }} {{ form.instance.last_name }} {% endblock %}

{% block content %}
<h1>{% if form.instance.pk %}Update{% else %}New Person{% endif %} {{ form.instance.first_name }} {{ form.instance.last_name }} </h1>
{% if url_username == user.username %}
    <p>
        This is your personal page.
    </p>
{% else %}
    <p>This is organization: {{ url_username }}</p>
{% endif %}

<form method="post">
    {% csrf_token %}
    <!-- Existing fields -->
    <p>{{ form.first_name.label_tag }} {{ form.first_name }}</p>
    <p>{{ form.last_name.label_tag }} {{ form.last_name }}</p>
    <p>{{ form.email.label_tag }} {{ form.email }}</p>
    <p>{{ form.phone.label_tag }} {{ form.phone }}</p>
    <p>{{ form.address.label_tag }} {{ form.address }}</p>
    {{ resource_formset.management_form }}
       <p>Resources:</p>
    {% for r_form in resource_formset %}

        <div>URL:
            {{ r_form.url }}
            {{ r_form.description }}
            {% if r_form.instance.pk %}
                {{ r_form.DELETE.as_hidden }}
                <input type="checkbox" name="{{ r_form.DELETE.html_name }}" id="{{ r_form.DELETE.auto_id }}"
                       onclick="return confirm('Do you want to delete this resource? Remember to press save.');">
                <small class="form-text">Delete this resource</small>
            {% endif %}
            {{ r_form.id }}
        </div>
    {% endfor %}

    <!-- Date fields -->
{#    <fieldset>#}
{#        <legend>Birth Information</legend>#}
        <p> * {{ form.birth_date.label_tag }} {{ form.birth_date }}</p>
        <p>{{ form.birth_approximate.label_tag }} {{ form.birth_approximate }}</p>
{#    </fieldset>#}

{#    <fieldset>#}
{#        <legend>Death Information</legend>#}
        <p> + {{ form.death_date.label_tag }} {{ form.death_date }}</p>
        <p>{{ form.death_approximate.label_tag }} {{ form.death_approximate }}</p>
{#    </fieldset>#}

    <!-- Roles -->
    {{ form.roles.label_tag }}
    {{ form.roles }}
    <!-- Voices (renders as native <select multiple>) -->
    <p>{{ form.voices.label_tag }}
        {{ form.voices }}</p>
    <small class="form-text">Hold Ctrl/Cmd to select multiple voices</small>

    <!-- Instruments (renders as native <select multiple>) -->
    <p>{{ form.instruments.label_tag }}
    {{ form.instruments }}</p>
    <small class="form-text">Hold Ctrl/Cmd to select multiple voices</small>
    <p>
        <small class="form-text">
            small text for testing
        </small>
    </p>


    <!-- Skills -->
    <p>{{ form.skills.label_tag }}
        {{ form.skills }}</p>


    <button type="submit">Save</button>
</form>


{% endblock %}