{% extends "syncope/base.html" %}

{% block title %}{% if object %}Edit Organization{% else %}Create Organization{% endif %}{% endblock %}

{% block content %}

<h1>{% if object %}Edit {{ object.name }}{% else %}New Organization{% endif %}</h1>
<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">{% if object %}Save{% else %}Create{% endif %}</button>
  </div>
  {% if object %}
  <p class="danger-zone"><a href="{% url 'syncope:org_delete' object.user.username %}" class="btn btn-danger">Delete Organization</a></p>
  {% endif %}
</form>

{% if object %}
{% url 'syncope:org_dashboard' object.user.username as return_target %}
{% include "syncope/_save_bar.html" with url=return_target %}
{% endif %}

{% endblock %}