{% extends "syncope/base.html" %}

{% block title %}{% if form.instance.pk %}Edit{% else %}Create{% endif %} title{% endblock %}

{% block content %}
<h2>{% if form.instance.pk %}Edit{% else %}Create{% endif %} Poll title</h2>

<form method="post">
    {% csrf_token %}

    <div class="form-group">
        <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
        {{ form.title }}
        {% if form.title.errors %}<span class="error">{{ form.title.errors }}</span>{% endif %}
    </div>

    <div class="form-group">
        <label for="{{ form.description.id_for_label }}">{{ form.description.label }}</label>
        {{ form.description }}
        {% if form.description.errors %}<span class="error">{{ form.description.errors }}</span>{% endif %}
    </div>

    {% if not form.instance.pk %}
    <div class="form-group">
        {{ form.import_active_members }}
        <label for="{{ form.import_active_members.id_for_label }}">{{ form.import_active_members.label }}</label>
    </div>
    {% endif %}

    <button type="submit">Save</button>
    {% if form.instance.pk %}
    <a href="{% url 'syncope:poll_list' url_username %}">Back to poll list</a> |
    <a href="{% url 'syncope:poll_basic' url_username poll.pk %}">Edit poll page</a> ➜
    <b>Edit title - now you are here </b>➜
    <a href="{% url 'syncope:poll_persons' url_username poll.pk %}">Add people</a> ➜
    <a href="{% url 'syncope:poll_events' url_username poll.pk %}">Add event slots</a> ➜
    <a href="{% url 'syncope:poll_detail' url_username poll.pk %}">View votes - overview</a>
    {% else %}
    <a href="{% url 'syncope:poll_list' url_username %}">Back to poll list</a>
    {% endif %}
</form>
{% endblock %}
