{% extends "syncope/base.html" %}

{% block title %}{{ poll.title }} - Syncope{% endblock %}

{% block content %}
<div class="section-header">
    <h1 class="event-title">
        <span class="event-title-text">
            <span title="Title">{{ poll.title }}</span>
            <small><span title="Action"> | Delete</span></small>
        </span>
    </h1>
</div>

<p>Are you sure you want to delete "<strong>{{ poll.title }}</strong>"?</p>

{% if is_admin %}
<form method="post">
    {% csrf_token %}
    <div class="form-actions">
        <button type="submit" class="btn btn-danger">Delete Poll</button>
    </div>
</form>
{% endif %}

{% url 'syncope:poll_detail' url_username poll.pk as return_target %}
{% include "syncope/_save_bar.html" with url=return_target %}
{% endblock %}
