{% extends "syncope/base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
<h2>Projects</h2>
{% if ADMIN_ROLE in membership.person.roles.all %}
<p>
    <a href="{%  url 'syncope:project_create' url_username %}">+ New Project</a>
</p>
{% endif %}
{% if projects %}
<table>
    <tr>
        <th></th>
        <th>Title</th>
        <th>Events</th>
        <th>Start Date</th>
        <th>End Date</th>

    </tr>
    {% for project in projects %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>
                <a href="{%  url 'syncope:project_detail' url_username project.id %}">
                    {{ project.title }}
                </a>

            </td>
            <td><span title="Events">{{ project.num_main_events }}</span><span title="Rehearsals">({{ project.num_rehearsals }})</span></td>
            <td>{{ project.start_date|default:"-" }}</td>
            <td>{{ project.end_date|default:"-" }}</td>

        </tr>
    {% endfor %}
</table>
{% else %}
<p>No projects yet.</p>
{% endif %}

{% endblock %}
