{% extends "syncope/base.html" %}

{% block title %}Delete Project{% endblock %}

{% block content %}
<h1>Delete Project?</h1>

<p>Are you sure you want to delete <strong>{{ project.title }}</strong>?</p>

{% if can_delete %}
<form method="post">
    {% csrf_token %}
    <div class="form-actions">
        <button type="submit" class="btn btn-danger">Delete</button>
    </div>
</form>
{% endif %}

{% url 'syncope:project_detail' url_username project.pk as return_target %}
{% include "syncope/_save_bar.html" with url=return_target %}

{% endblock %}
