{% extends "syncope/base.html" %}
{% block title %}{% if object %}Edit{% else %}New{% endif %} Song{% endblock %}
{% block content %}

<h1>{% if object %}Edit{% else %}New{% endif %} Song</h1>

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="draft_key" value="{{ draft_key }}">
    {% if request.GET.next %}<input type="hidden" name="next" value="{{ request.GET.next }}">{% endif %}

    <div>
        <label for="{{ form.internal_id.id_for_label }}">{{ form.internal_id.label }}</label>
        {{ form.internal_id }}
        {# extra: add links/buttons for internal_id here #}
        {% if form.internal_id.help_text %}<p class="helptext">{{ form.internal_id.help_text }}</p>{% endif %}
        {% if form.internal_id.errors %}
            <ul class="errorlist">
                {% for error in form.internal_id.errors %}<li>{{ error }}</li>{% endfor %}
            </ul>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.title.id_for_label }}">{{ form.title.label }}</label>
        {{ form.title }}
        {# extra: add links/buttons for title here #}
        {% if form.title.help_text %}<p class="helptext">{{ form.title.help_text }}</p>{% endif %}
        {% if form.title.errors %}
            <ul class="errorlist">
                {% for error in form.title.errors %}<li>{{ error }}</li>{% endfor %}
            </ul>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.composer.id_for_label }}">{{ form.composer.label }}</label>
        {{ form.composer }}
        <button type="submit"
                formaction="{% url 'syncope:save_draft_and_go' %}?goto={% url 'syncope:org_member_new_composer' url_username %}&next={{ request.get_full_path|urlencode }}"
                title="Add new Composer">+</button>
        {% if form.composer.help_text %}<p class="helptext">{{ form.composer.help_text }}</p>{% endif %}
        {% if form.composer.errors %}
            <ul class="errorlist">
                {% for error in form.composer.errors %}<li>{{ error }}</li>{% endfor %}
            </ul>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.arranger.id_for_label }}">{{ form.arranger.label }}</label>
        {{ form.arranger }}
        <button type="submit"
                formaction="{% url 'syncope:save_draft_and_go' %}?goto={% url 'syncope:org_member_new_arranger' url_username %}&next={{ request.get_full_path|urlencode }}"
                title="Add new Arranger">+</button>
        {% if form.arranger.help_text %}<p class="helptext">{{ form.arranger.help_text }}</p>{% endif %}
        {% if form.arranger.errors %}
            <ul class="errorlist">
                {% for error in form.arranger.errors %}<li>{{ error }}</li>{% endfor %}
            </ul>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.poet.id_for_label }}">{{ form.poet.label }}</label>
        {{ form.poet }}
        <button type="submit"
                formaction="{% url 'syncope:save_draft_and_go' %}?goto={% url 'syncope:org_member_new_poet' url_username %}&next={{ request.get_full_path|urlencode }}"
                title="Add new Poet">+</button>
        {% if form.poet.help_text %}<p class="helptext">{{ form.poet.help_text }}</p>{% endif %}
        {% if form.poet.errors %}
            <ul class="errorlist">
                {% for error in form.poet.errors %}<li>{{ error }}</li>{% endfor %}
            </ul>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.translator.id_for_label }}">{{ form.translator.label }}</label>
        {{ form.translator }}
        <button type="submit"
                formaction="{% url 'syncope:save_draft_and_go' %}?goto={% url 'syncope:org_member_new_translator' url_username %}&next={{ request.get_full_path|urlencode }}"
                title="Add new Translator">+</button>
        {% if form.translator.help_text %}<p class="helptext">{{ form.translator.help_text }}</p>{% endif %}
        {% if form.translator.errors %}
            <ul class="errorlist">
                {% for error in form.translator.errors %}<li>{{ error }}</li>{% endfor %}
            </ul>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.origin.id_for_label }}">{{ form.origin.label }}</label>
        {{ form.origin }}
        {# extra: add links/buttons for origin here #}
        {% if form.origin.help_text %}<p class="helptext">{{ form.origin.help_text }}</p>{% endif %}
        {% if form.origin.errors %}
            <ul class="errorlist">
                {% for error in form.origin.errors %}<li>{{ error }}</li>{% endfor %}
            </ul>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.number_of_pages.id_for_label }}">{{ form.number_of_pages.label }}</label>
        {{ form.number_of_pages }}
        {# extra: add links/buttons for number_of_pages here #}
        {% if form.number_of_pages.help_text %}<p class="helptext">{{ form.number_of_pages.help_text }}</p>{% endif %}
        {% if form.number_of_pages.errors %}
            <ul class="errorlist">
                {% for error in form.number_of_pages.errors %}<li>{{ error }}</li>{% endfor %}
            </ul>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.number_of_copies.id_for_label }}">{{ form.number_of_copies.label }}</label>
        {{ form.number_of_copies }}
        {# extra: add links/buttons for number_of_copies here #}
        {% if form.number_of_copies.help_text %}<p class="helptext">{{ form.number_of_copies.help_text }}</p>{% endif %}
        {% if form.number_of_copies.errors %}
            <ul class="errorlist">
                {% for error in form.number_of_copies.errors %}<li>{{ error }}</li>{% endfor %}
            </ul>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.year.id_for_label }}">{{ form.year.label }}</label>
        {{ form.year }}
        {# extra: add links/buttons for year here #}
        {% if form.year.help_text %}<p class="helptext">{{ form.year.help_text }}</p>{% endif %}
        {% if form.year.errors %}
            <ul class="errorlist">
                {% for error in form.year.errors %}<li>{{ error }}</li>{% endfor %}
            </ul>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.ensemble.id_for_label }}">{{ form.ensemble.label }}</label>
        {{ form.ensemble }}
        {# extra: add links/buttons for ensemble here #}
        {% if form.ensemble.help_text %}<p class="helptext">{{ form.ensemble.help_text }}</p>{% endif %}
        {% if form.ensemble.errors %}
            <ul class="errorlist">
                {% for error in form.ensemble.errors %}<li>{{ error }}</li>{% endfor %}
            </ul>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.number_of_voices.id_for_label }}">{{ form.number_of_voices.label }}</label>
        {{ form.number_of_voices }}
        {# extra: add links/buttons for number_of_voices here #}
        {% if form.number_of_voices.help_text %}<p class="helptext">{{ form.number_of_voices.help_text }}</p>{% endif %}
        {% if form.number_of_voices.errors %}
            <ul class="errorlist">
                {% for error in form.number_of_voices.errors %}<li>{{ error }}</li>{% endfor %}
            </ul>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.languagecode.id_for_label }}">{{ form.languagecode.label }}</label>
        {{ form.languagecode }}
        {# extra: add links/buttons for languagecode here #}
        {% if form.languagecode.help_text %}<p class="helptext">{{ form.languagecode.help_text }}</p>{% endif %}
        {% if form.languagecode.errors %}
            <ul class="errorlist">
                {% for error in form.languagecode.errors %}<li>{{ error }}</li>{% endfor %}
            </ul>
        {% endif %}
    </div>
    <div>
        <label for="{{ form.lyrics.id_for_label }}">{{ form.lyrics.label }}</label>
        {{ form.lyrics }}
        {# extra: add links/buttons for lyrics here #}
        {% if form.lyrics.help_text %}<p class="helptext">{{ form.lyrics.help_text }}</p>{% endif %}
        {% if form.lyrics.errors %}
            <ul class="errorlist">
                {% for error in form.lyrics.errors %}<li>{{ error }}</li>{% endfor %}
            </ul>
        {% endif %}
    </div>


    <div>
        <label for="{{ form.additional_notes.id_for_label }}">{{ form.additional_notes.label }}</label>
        {{ form.additional_notes }}
        {# extra: add links/buttons for additional_notes here #}
        {% if form.additional_notes.help_text %}<p class="helptext">{{ form.additional_notes.help_text }}</p>{% endif %}
        {% if form.additional_notes.errors %}
            <ul class="errorlist">
                {% for error in form.additional_notes.errors %}<li>{{ error }}</li>{% endfor %}
            </ul>
        {% endif %}
    </div>

    <div>
        <label for="{{ form.keywords.id_for_label }}">{{ form.keywords.label }}</label>
        {{ form.keywords }}
        {# extra: add links/buttons for keywords here #}
        {% if form.keywords.help_text %}<p class="helptext">{{ form.keywords.help_text }}</p>{% endif %}
        {% if form.keywords.errors %}
            <ul class="errorlist">
                {% for error in form.keywords.errors %}<li>{{ error }}</li>{% endfor %}
            </ul>
        {% endif %}
    </div>

    <h3>Quotes</h3>
    {{ quote_formset.management_form }}
    <table>
        <thead>
            <tr>
                <th>Quote</th>
                <th>Bar Number</th>
                <th>Date</th>
                <th>Person</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
        {% for kw_form in quote_formset %}
            <tr>
                {% for hidden in kw_form.hidden_fields %}{{ hidden }}{% endfor %}
                <td>{{ kw_form.word }}</td>
                <td>{{ kw_form.bar_number }}</td>
                <td>{{ kw_form.date }}</td>
                <td>{{ kw_form.person }}</td>
                <td>{% if can_manage %}{{ kw_form.DELETE }}{% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <button type="submit" name="action" value="add_kw_row">+ Add Another Quote</button>

    <h3>Lyrics Translations</h3>
    {{ translation_formset.management_form }}
    <table>
        <thead>
            <tr>
                <th>Language</th>
                <th>Translation</th>
                <th>Translator</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody>
        {% for t_form in translation_formset %}
            <tr>
                {% for hidden in t_form.hidden_fields %}{{ hidden }}{% endfor %}
                <td>{{ t_form.languagecode }}</td>
                <td>{{ t_form.translation }}</td>
                <td>{{ t_form.translator }}</td>
                <td>{% if can_manage %}{{ t_form.DELETE }}{% endif %}</td>
            </tr>
            {% if t_form.errors %}
            <tr><td colspan="4">{{ t_form.errors }}</td></tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
    <button type="submit" name="action" value="add_translation_row">+ Add Translation</button>


    {{ resource_formset.management_form }}
    {% for r_form in resource_formset %}
    <h3>Resources</h3>
        <div>
            {{ r_form.url }} {{ r_form.description }}
            {% if r_form.instance.pk %}{{ r_form.DELETE }}{% endif %}
            {{ r_form.id }}
        </div>
    {% endfor %}

    <br><br>
    <button type="submit" name="action" value="">Save</button>
</form>
<p>
{% if object %}
    <a href="{%  url 'syncope:song_detail' url_username object.pk %}">Cancel Edit</a>
{% else %}
    <a href="{%  url 'syncope:song_list' url_username %}">Cancel &amp; Return to List</a>
{% endif %}
</p>
{% endblock %}
